<!--start mainview-->

<div class="  ">{{name}} - {{title}}
{{#ifCond "A" "A"}}Custom Condition here{{/ifCond}}   
<ul  class="  ">
    {{#each children}}  
    	<li class=" "  data-id="{{id}}"  > {{title}}</li>
    {{/each}}
</ul>
</div>
{{#if  false}} {{/if}}
<!--end mainview-->



    	 